<!-- {% extends "layout.html" %}
{% block content %} -->

<head>
    <title>Portfolio site</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<! –– Hero image with introduction using Flex box––>
    <section class="hero-image" role="img" aria-hidden="true">
      <div class="hero-text">
        <h1>Pandelis Toumbelekis</h1>
      </header>
      <section class="intro">
        <h3>{title: "Junior Developer", company: "@nerdypandy", interests: {["Code", "Web Development", "Technology", "Small Business"]}</h3>
      </section>
      <section>
        <div class="social-media-buttons">
          <a href="https://www.facebook.com/nerdypandy/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/nerdypandy" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/in/pandelis-toumbelekis-1a2383117/" class="fa fa-linkedin"></a>
          <a href="https://github.com/PandelisT" class="fa fa-github"></a>
        </div>
      </section>
      </div>
    </section>
  </section>
<!–– My skills section ––>
  <section id="mySkills">
    <div class="mainSection">
      <h2>My Skills</h2>
      <p>HTML</p>
      <div class="allSkills">
        <div class="skills html">80%</div>
      </div>
      <p>CSS</p>
      <div class="allSkills">
        <div class="skills css">70%</div>
      </div>
      <p>JavaScript</p>
      <div class="allSkills">
        <div class="skills js">10%</div>
      </div>
      <p>WordPress</p>
      <div class="allSkills">
        <div class="skills wordpress">90%</div>
      </div>
      <p>Git</p>
      <div class="allSkills">
        <div class="skills git">70%</div>
      </div>
      <p>Python</p>
      <div class="allSkills">
        <div class="skills python">5%</div>
      </div>
      <p>SEO</p>
      <div class="allSkills">
        <div class="skills seo">80%</div>
      </div>
      <p>Digital Marketing</p>
      <div class="allSkills">
        <div class="skills marketing">75%</div>
      </div>
    </div>
  </section>
<! –– Footer with contact details using Flex box––>
  <footer>
      <h3>Contact Me</h3>
      <section>
        <div class="social-media-buttons">
          <a href="tel:+61405819846" class="fa fa-phone-square"></a>
          <a href="mailto:pandeli@nerdypandy.com?subject=Contact from Portfolio Site" class="fa fa-envelope"></a>
          <a href="https://www.facebook.com/nerdypandy/" class="fa fa-facebook"></a>
          <a href="https://www.linkedin.com/in/pandelis-toumbelekis-1a2383117/" class="fa fa-linkedin"></a>
        </div>
      </section>
    <p>&copy; 2020 Pandelis Toumbelekis</p>
  </footer>

</div>
{% endblock %}